@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>




@section scripts
{
    <script>

        $(document).ready(function () {

            $('.menu').removeClass('active');
            $('#aboutMenu').addClass('active');
            $('.carousel').carousel({
                interval: 2800
            });

        });

    </script>
}