
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    
    <h2>Admin View</h2>

    <a href="@Url.Action("Logout", "Account")"
       class="btn btn-primary">Logout</a>

</div>

