
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration: none; display: block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                            Common
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <a class="list-group-item" href="#bookingInfo">
                            <span class="glyphicon glyphicon-info-sign"></span> &nbsp; Booking Info
                        </a>
                        <a class="list-group-item" href="#parkingZone">
                            <span class="glyphicon glyphicon-tags"></span> &nbsp; Parking Zone
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a style="text-decoration: none; display: block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                            Employees
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <a class="list-group-item" href="#list">
                            <span class="glyphicon glyphicon-th-list"></span> &nbsp; List
                        </a>
                        <a class="list-group-item" href="#add">
                            <span class="glyphicon glyphicon-plus"></span> &nbsp; Add
                        </a>
                        <a class="list-group-item" href="#update">
                            <span class="glyphicon glyphicon-pencil"></span> &nbsp; Update
                        </a>
                        <a class="list-group-item" href="#delete">
                            <span class="glyphicon glyphicon-minus"></span> &nbsp;Delete
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a style="text-decoration: none; display: block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                            Riders
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <a class="list-group-item" href="#list">
                            <span class="glyphicon glyphicon-th-list"></span> &nbsp; List
                        </a>
                        <a class="list-group-item" href="#add">
                            <span class="glyphicon glyphicon-plus"></span> &nbsp; Add
                        </a>
                        <a class="list-group-item" href="#update">
                            <span class="glyphicon glyphicon-pencil"></span> &nbsp; Update
                        </a>
                        <a class="list-group-item" href="#delete">
                            <span class="glyphicon glyphicon-minus"></span> &nbsp;Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div col-md-9>Tab</div>
</div>



